<div class="main-app">
  <div class="side-bar">
    <a href="#page1"><span>Goto Page 1</span></a>
    <a href="#page2"><span>Goto Page 2</span></a>
    <a href="#repos"><span>View Repos</span></a>
  </div>
  <div id="header"></div>
  <div id="content"></div>
</div>