<div class="main-app">
  <div class="header">
    <h1>Sample Application</h1>
    <small id="current-page"></small>
  </div>
  <div class="side-bar">
    <a href="#page1"><span>Goto Page 1</span></a>
    <a href="#page2"><span>Goto Page 2</span></a>
  </div>
  <div id="content">
  </div>
</div>