<div class="pull-right header-center">{{name}}</div>
<div class="pull-right header-center likes-container">Likes: <span class="like-count"></span></div>
<h1 class="pull-left">Sample Application</h1>
<div class="text-center header-center"><strong class="current-page"></strong></div>
<div class="clear"></div>