<div class="node">
  <div class="nodeData">
    {{#if gridLines}}
      <div class="gridLine {{#if dotted}} dotted {{/if}}"></div>
      <div class="gridLineHorizontal {{#if dotted}} dotted {{/if}}"></div>
    {{/if}}
    <div class="nodeExpand"><i class="icon-chevron-right"></i></div>
    <div class="nodeContainer"></div>
  </div>
  <div class="nodeChildren"></div>
</div>